$fontRobotoCondensedRegular: "RobotoCondensedRegular", Verdana, Arial, sans-serif;
$fontRobotoCondensedLigth: "RobotoCondensedLight", Verdana, Arial, sans-serif;
$fontRobotoCondensedBold: "RobotoCondensedBold", Verdana, Arial, sans-serif;


$maketHeight: 3416;
$maketWidth: 1920;

$navLinkColor: #686868;
$navLinkSize: toEms(25);

$commonGreyColor: #686868;
$commonBlueColor: #008cd1;


$media-4K: 2560px;
$media-laptop: 1440px;
$media-laptopL: 1024px;
$media-tablet: 768px;
$media-mobileL: 425px;
$media-mobileM: 375px;
$media-mobileS: 320px;
